@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <div class="text-center">
        <h1 class="display-4">SGE - Sistema de Gerenciamento de Editora</h1>

    </div>
</div>




